  body {
      background-color: #f8f9fa;
    }

    .sidebar {
      width: 250px;
      height: 100vh;
      background-color: #F5F5F5;
      color: #6c6e72;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 30px;
      position: fixed;
      left: 0;
      top: 0;
    }


    .sidebar img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 3px solid #fff;
      object-fit: cover;
    }

    .sidebar h3 {
      margin-top: 15px;
      font-size: 1.3rem;
    }

    .sidebar p {
      color: #494a4a;
      margin-bottom: px;
      text-transform: uppercase;
      font-size: 12px;
    }

 .sidebar a {
  color: #4a4949;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  transition: all 0.3s ease;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}



/* .sidebar a:hover {
  border-bottom: 1px solid #72ad7b; 
  color: #72ad7b; 
            
} */


    /* .sidebar .nav-link::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 40px;
      height: 1px;
      background: #72ad7b;
      transform: scaleX(0);
      transform-origin: center;
      transition: transform 300ms cubic-bezier(.2,.8,.2,1);
      -webkit-transition: transform 300ms cubic-bezier(.2,.8,.2,1);
      -moz-transition: transform 300ms cubic-bezier(.2,.8,.2,1);
      -ms-transition: transform 300ms cubic-bezier(.2,.8,.2,1);
      -o-transition: transform 300ms cubic-bezier(.2,.8,.2,1);
} */

    /* .sidebar .nav-link:hover::after,
    .sidebar .nav-link:focus::after {
      transform: scaleX(.2);
      -webkit-transform: scaleX(.2);
      -moz-transform: scaleX(.2);
      -ms-transform: scaleX(.2);
      -o-transform: scaleX(.2);
} */


    /* .home {
      margin-left: 260px;
      padding: 30px;
    } */
    
    .sidebar a:hover{
    color: #2c7ac9;
      cursor: pointer;
    }
    .sidebar p span{
      color: #2c7ac9;
    }
