
.experienceTitle {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  color: #555;
margin-left: 350px;

}

.experienceHeading {
    font-size: 15px;
    font-weight: bold;
  letter-spacing: 5px;
  margin-bottom: 40px;
margin-left: 350px;

}

.timeline {
  list-style: none;
  position: relative;
  padding-left: 40px;
  margin-left: 350px;

}

.timeline::before {
  content: "";
  position: absolute;
  left: 45px;
  top: 0;
  width: 2px;
  height: 107%;
  background: #ddd;
}

.timeline li {
  position: relative;
  margin-bottom: 40px;
}

.timeline-badge {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  
}

.timeline-badge.blue {
  background: #3b82f6;
      margin-left: 9px;

}

.timeline-badge.red {
  background: #ef4444;
    margin-left: 9px;

}

.timeline-badge.yellow {
  background: #f59e0b;
      margin-left: 9px;

}

.timeline-panel {
  background: #F2F3F7;
  padding: 25px 30px;
  border-radius: 6px;
  margin-left: 60px;
  width: 80%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.timeline-panel h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.timeline-panel span {
  color: #999;
  font-weight: 400;
  font-size: 14px;
  margin-left: 10px;
}

.timeline-panel p {
  color: #555;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
}

.timeline-end {
  width: 45px;
  height: 45px;
  border: 2px solid #ddd;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  margin-left: -25px;

}
