
.nav{
    margin-left: 300px;
    margin-bottom: 30px;
}
.workTitle {
  color: #6d6d6d;
  letter-spacing: 2px;
    font-size: 10px;
  text-align: left;
  margin-left: 350px;

  
}

.workHeading {
  text-align: left;
  font-weight: 700;
  margin-bottom: 40px;
    margin-left: 350px;
    font-size: 14px;
    letter-spacing: 4px;
}

.project {
  position: relative;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;

}

.project:hover {
  transform: scale(1.02);
}
.nav-item{
    margin-left: -20px;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(36, 106, 187, 0.8);
  color: #fff;
  opacity: 0;
  transition: all 0.3s ease;
  display: flex;
  justify-content: left;
  align-items: center;
}

.project:hover .overlay {
  opacity: 1;
}

.overlay-content {
  text-align: left;
    padding: 20px;
    width: 100%;

}

.overlay-content h3 {
  font-size: 22px;
  text-decoration: underline;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-top: -70px;
}

.overlay-content span {
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
  margin-left: 24px;
}

.icons span {
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    background-color:rgba(230, 250, 255, 0.5);
    color: #fff;
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
}

.showMoreButton {
  display: block;
  margin: 20px auto;
  background-color: #00f;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: left;
  margin-left: 270px;
  transition: 0.3s;

}

.showMoreButton:hover {
  background-color: #284de1;
}
